#LandingPage {
    height: 100vh;
    width:100%;
    /* background:  #ffffff 50%,#1a0b44 50%); */
    padding: 200px,0;
    
}
#Landing {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    width: 100%;
    height:100%;
    
  }

  .padding{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
.left{
  /* float: left; */
  width: 60%;
  text-align: left;
}
.right{
  float: right;
  width: 30%;
}

 
table,
th,
td {padding: 70px 0;
  text-align: center;
}

.Start{

background-color: rgb(41, 14, 90);
color: rgb(250, 232, 232);
/* font-family: 'Times New Roman', serif; */
}
