.bar {
  /* display: inline-block; */
  width: 120px;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid purple;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

input[type="radio"]:checked ~ label {
  background-color: purple;
  color: white
}

.space{
  margin: 10px;
}